/**
 * ClusterPress Doc styles
 *
 * @since 1.0.0
 */

body.clusterpress.cp-doc .type-clusterpress ul.documentation-toc,
body.clusterpress.cp-doc .type-clusterpress ul.documentation-toc ul {
	list-style: none;
}

body.clusterpress.cp-doc .type-clusterpress li.toc-item h3 {
	margin-bottom: 0.2em;
}

body.clusterpress.cp-doc .doc-toc-link {
	display: inline-block;
	margin-right: 2em;
}

body.clusterpress.cp-doc .doc-toc-link a,
body.clusterpress.cp-doc .doc-edit-link {
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}

body.clusterpress.cp-doc .cp-content {
	margin: 0;
	padding: 0;
	border: none;
	clear: both;
}

body.clusterpress.cp-doc .cp-doc-toc-container {
	float: left;
	width: 30%;
	padding: 0.5em;
	margin: 0 1em 1em 0;
	background-color: #f1f1f1;
	border-left: solid 3px #dadada;
	font-size: 80%;
}

body.clusterpress.cp-doc .cp-doc-toc-container dl.cp-doc-toc {
	margin: 0 0 0 0.5em;
}

body.clusterpress.cp-doc .cp-doc-toc-container dl.cp-doc-toc dt {
	font-weight: inherit;
}

body.clusterpress.cp-doc .cp-doc-toc-container dl.cp-doc-toc dt a {
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
	border-bottom:dotted 1px #555;
}

body.clusterpress.cp-doc .cp-doc-toc-container .dt-h4 {
	margin-left: 1.5em;
}

body.clusterpress.cp-doc .cp-doc-toc-container .dt-h5 {
	margin-left: 2em;
}

body.clusterpress.cp-doc .cp-doc-toc-container .dt-h6 {
	margin-left: 2.5em;
}

body.clusterpress.cp-doc .cp-doc-credits {
	background-color: #f1f1f1;
	border-left: solid 3px #dadada;
}

body.clusterpress.cp-doc .cp-doc-credits h6 {
	margin: 0;
	padding: 0.5em;
}

body.clusterpress.cp-doc .cp-doc-credits ul,
body.clusterpress.cp-doc ul.cp-doc-navigation {
	overflow: hidden;
	list-style: none;
	padding-bottom: 0.5em;
}

body.clusterpress.cp-doc .cp-doc-credits ul li {
	margin: 0;
	float: left;
	margin: 0 0.5em;
}

body.clusterpress.cp-doc ul.cp-doc-navigation li.next,
body.clusterpress.cp-doc ul.cp-doc-navigation li.toc,
body.clusterpress.cp-doc ul.cp-doc-navigation li.previous {
	font-size: 90%;
	width: 30%;
	margin: 0 0.5em;
}

body.clusterpress.cp-doc ul.cp-doc-navigation li.previous {
	float: left;
	text-align: left;
}

body.clusterpress.cp-doc ul.cp-doc-navigation li.toc {
	float: left;
	text-align: center;
}

body.clusterpress.cp-doc ul.cp-doc-navigation li.next {
	float: right;
	text-align: right;
}

body.clusterpress.cp-doc ul.cp-doc-navigation ul.toc-links {
	list-style: none;
}

body.clusterpress.cp-site .type-clusterpress.documentation button.cp-doc-new {
	margin-left: 1em;
	padding-top: 0;
	padding-bottom: 0;
	color: inherit;
}

body.clusterpress.cp-site .type-clusterpress.documentation button.cp-doc-new a {
	text-decoration: none;
	border: none;
	box-shadow: none;
}

body.clusterpress.cp-site .type-clusterpress.documentation button.cp-doc-new:hover,
body.clusterpress.cp-site .type-clusterpress.documentation button.cp-doc-new a:hover {
	color: #fff;
	background-color: #555;
}

body.clusterpress.cp-site .type-clusterpress.documentation button.cp-doc-new .dashicons {
	vertical-align: middle;
}

body.clusterpress.cp-site .type-clusterpress.documentation table.doc-table {
	margin: 2em 0;
}

body.clusterpress.cp-site .type-clusterpress.documentation table.doc-table th {
    text-align: left;
}

body.clusterpress.cp-site .type-clusterpress.documentation table.doc-table td.doc-date {
	width: 25%;
}

body.clusterpress.cp-site .type-clusterpress.documentation div.doc-actions a {
	font-size: 60%;
	text-decoration: none;
	border: none;
	box-shadow: none;
}

body.clusterpress.cp-site .type-clusterpress.documentation div.doc-actions img.avatar {
	vertical-align: text-top;
}

body.clusterpress.cp-site .type-clusterpress.documentation div.doc-actions a.trash,
body.clusterpress.cp-site .type-clusterpress.documentation div.doc-actions a.trash:hover {
	color:#a00;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc textarea,
body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc input[type=text] {
	width: 100%;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc input[type=text].cp-doc-exists {
	width: 90%;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc a.doc-link {
	display: inline-block;
	padding: 0.3em;
	color: #fff;
	text-decoration: none;
	background-color: #555;
	border: solid 1px #ccc;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc a.doc-link:hover {
	color: #555;
	background-color: #ccc;
	border: solid 1px #555;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc label,
body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc fieldset legend {
	display: block;
	margin-bottom: 1em;
	font-weight: 40%;
	font-style: italic;
	opacity: 0.5;
}

body.clusterpress.cp-site .type-clusterpress.documentation #editing-doc {
	display: none;
}

body.clusterpress .cp-feedback .locked .dashicons {
	float: none;
	position: inherit;
	color: #555;
	vertical-align: initial;
}

body.clusterpress .cp-feedback .locked {
	margin-right: 1em;
	display: inline-block;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc .cp-doc-publishing-actions {
	overflow: hidden;
	margin: 2em 0;
	clear: both;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc .cp-doc-status {
	float: left;
	margin: 0 3em 0 0;
}

#wp-cp-doc-content-editor-container {
	border: solid 1px #ccc;
}

.mce-container button:hover,
#wp-cp-doc-content-editor-container .mce-toolbar button:hover {
	background-color: inherit;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc #cp_chapter_checklist {
	overflow: hidden;
	margin-bottom: 0;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc #cp_chapter_checklist li {
	list-style: none;
	margin: 0 1em;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc #cp_chapter_checklist label {
	font-weight: 100%;
	font-style: normal;
	opacity: 1;
}

body.clusterpress.cp-site .type-clusterpress.documentation form.cp-edit-doc #cp_chapter_checklist > li {
	float:left;
	width: 46%;
	margin-left: 0;
}

body.clusterpress div#cp-doc-archive ul.post-list {
	background: transparent;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body.clusterpress div#cp-doc-archive ul.post-list li {
	padding: 1.8em 0;
	list-style: none;
	border-bottom: solid 1px #ddd;
	margin: 0;
}

body.clusterpress div#cp-doc-archive ul.post-list li:last-child {
	border-bottom: none;
}

body.clusterpress div#cp-doc-archive ul.post-list li {
	margin-right: 5px;
	box-shadow: none;
}

body.clusterpress div#cp-doc-archive ul.post-list li .cp-site-post-actions a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: inherit;
	border: none;
	box-shadow: none;
}

body.clusterpress div#cp-doc-archive ul.post-list .cp-site-post-actions .edit-link:before {
	content: '';
}

body.clusterpress div#cp-doc-archive ul.post-list li h3.cp-post-title a {
	text-decoration: none;
	color: inherit;
	border: none;
	box-shadow: none;
}
